<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
           •  Around 15 years of experience as an Architect, Technical Manager and Full Stack Developer in multiple technology projects at companies ranging from multinational enterprises to early stage startups 
• Led a cross functional team of 60 at Boeing leading the advanced technology products, delivering software products on time for 8 quarters and decreasing cost by 30% 
• Migrated existing applications from data center to Amazon Web Services and architected new applications in AWS
• Planned and managed multimillion-dollar projects delivering business goals with technology solutions to drive competitive advantage
• At StartUp Hackathon, rapidly defined a MVP following lean development & created an app S4fety 
• Developed and published many Mobile Applications with more than 1M device installations
• Designed, data modeled, developed and published many Web Applications as personal projects
• Experience spans across Project Proposal, Requirements Gathering, Planning, Estimation, Design, Development, CMMi process, Risk Management and Delivery Management
• Expert in Agile and Waterfall project management methodologies; Bachelor's degree in Computer Science, MBA, PMP, CSM

        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Senior Solution Architect / Consultant
Company NameDisney Parks & Resorts Digital
Dates EmployedJun 2017 – Jul 2018
Employment Duration1 yr 2 mos
LocationAnaheim, CA
• Developing IT Solution Architecture for $99M Disney Ticketing Replacement project in which we are replacing multiple legacy systems with modern systems and technologies
    			</li>
          <li>
            Senior Technical Consultant
Company NameFidelity Investments
Dates EmployedOct 2013 – Jun 2017
Employment Duration3 yrs 9 mos
Fidelity Investments is the 4th largest mutual fund and financial services group in the world. Planning and Guidance Center is a web-based tool to provide a personalized guidance to workplace and retail user for their retirement, college and savings goals serving 18+ million users.
</li>
<li>
  Developed and published many Mobile Applications with more than 1M device installations
</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
